* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
    .nav {
        width: 100%;
        height: 30vh;
        flex-direction: column;
        justify-content: center;
    }

    #routes {
        font-size: 4.5vw;
        width: 100%;
        align-items: center;
        margin-top: 3vh;
    }

    body {
        background-image: url(/static/imgs/concrete.jpg);
        background-size: 100% 100%;
        height: 100%;
    }

    #titleLogo {
        height: 18vh;
        width: 80vw;
    }

    #mainBox {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #container {
        margin-bottom: 2vh;
        height: 60vh;
    }

    #firstBox {
        margin-top: 3vh;
        height: 100%;
        width: 100vw;
    }

    #firstBox h3 {
    padding: 0px;
    font-size: 30px;
    margin-bottom: 2vh;
    }

    #firstBox p {
        font-size: 5vw;
    }

    .roundImg{
        display: none;
    }

    #secondBoxHeader {
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 4.5vw;
    }

    #secondBoxHeader p {
        margin: 5px 0px;
    }

    #secondBox {
        font-size: 22px;
    }

    #secondBoxTitle {
        text-align: center;
        width: 100%;
        margin: 15px 0px;
        padding-top: 10px;
    }

    #secondBoxInfo {
        width: 80vw;
        display: flex;
        font-size: 5vw;
    }

    #container2 {
        height: 70vh;
        display: block;
    }

    #container3 {
        height: 70vh;
        width: 80vw;
    }

    #thirdBoxTitle {
        font-size: 5vw;
        margin-top: 2vh;
    }

    #review p{
        font-size: 5vw;
    }

    #reviewRating h4 {
        font-size: 4vw;
        margin-bottom: 1vh;
    }

    #reviewRating img {
        height: 2vh;
        width: 20vw;
    }

    #homeAdvisor {
        font-size: 4vw;
    }

    #footer {
        height: 35vh;
        width: 100%;
        margin: auto;
    }

    #footer img {
        height: 35vh;
        width: 100vw;
        margin: auto;
        display: block;
    }

    .aTag {
        align-items: center;
    }

    #instaLogo {
        height: 30px;
        width: 30px;
    }

    #iFrame {
        height: 50vh;
        width: 80vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #iFrame iframe {
        height: 80%;
        width: 100%;
    }

    #belowiFrame {
        margin: auto;
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #belowiFrame p {
        font-size: 5vw;
    }  
}