* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
    .nav {
        width: 100%;
        height: 40vh;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 30px 0px;
        font-weight: 800;
        color: whitesmoke;
    }

    #routes {
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
        text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    }

    body {
        background-image: url(/static/imgs/concrete.jpg);
        background-size: 100% 100%;
    }

    #titleLogo {
        height: 18vh;
        width: 80vw;
    }

    #firstBox {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        height: auto;
        font-size: 18px;
        margin-bottom: 30px;
    }

    #firstBox h3 {
    margin-bottom: 20px;
    padding: 0px;
    font-size: 30px;
    }

    .roundImg{
        display: none;
    }

    #secondBoxHeader {
        display: flex;
        flex-direction: column;
    }

    #secondBoxHeader p {
        margin: 5px 0px;
    }

    #secondBox {
        text-align: center;
        font-size: 18px;
    }

    #secondBoxTitle {
        width: 100%;
        margin: 15px 0px;
        padding-top: 10px;
    }

    #secondBoxInfo {
        width: 80vw;
        font-size: 18px;
        display: flex;
        text-align: center;
    }

    #container {
        height: 50vh;
    }

    #container2 {
        height: 65vh;
        display: block;
    }

    #footer {
        height: 30vh;
        width: 100%;
        margin: auto;
    }

    #footer img {
        height: 250px;
        width: 350px;
        margin: auto;
        display: block;
    }
}