<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/logo_favicon.png">
    <link rel="stylesheet" href="/static/css/contact.css">
    <link rel="stylesheet" href="/static/css/contact_mobile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="nav">
        <a href="/"><img id="titleLogo" src="/static/imgs/horz_logo_nobg_small.png" alt=""></a>
        <p><a class="aTag" href="/gallery">Gallery</a></p>
    </div>
    <div id="infoBox">
        <h3>Email:</h3>
        <p>migsbrothers@gmail.com</p>
        <h3>Phone:</h3>
        <p>(631) 748-7936</p>
        <h3>Instagram:</h3>
        <p><a href="https://www.instagram.com/migsbroscontracting/">@migsbroscontracting</a></p>
        <a href="https://www.instagram.com/migsbroscontracting/"><img id="instaLogo" src="/static/imgs/Instagram_icon.png" alt=""></a>
    </div>
</body>
</html>