<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Migs Construction</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div id="title">
            <h1>Migs Bros Contracting</h1>
            <p>For All Your Construction Needs</p>
        </div>
        <div #id="nav_right">
            <div id="routes">
                <p>Contact Us</p>
                <p>Gallery</p>
                <p>About Us</p>
            </div>
            <a href="https://www.instagram.com/migsbroscontracting/"><img id="insta_logo" src="/static/imgs/Instagram_icon.png.webp" alt=""></a>
        </div>
    </div>
    <div id="container">
        <div id="firstBox">
            <h3>Who We Are</h3>
            <p>With over 10 years of experience in various exterior work, Migs Bros Contracting is the place for those who want to turn their home or business into the place to be. We offer premier mechanic work in fields such as, but not limited to, Stucco/EIFS, Masonry/Stone, Power Washing, Painting, Seasonal Yard cleanup, and Gutter Cleaning. We prioritize using top quality materials to ensure the best usability and longevity of our work. </p>
        </div>
        <img src="/static/imgs/img5.jpg" alt="">
    </div>
    <div id="container2">
        <img src="/static/imgs/img4.jpg" alt="">
        <div id="secondBox">
            <h3>Contact Us</h3>
            <p>Email: </p>
            <p>Instagram: </p>
        </div>
    </div>
</body>
</html>